@import "archer"

normalize()


$base_url := "./img/"
$icon_plus := "ui-button-plus.gif"
$color_1 := #6cbb4c
$color_2 := #519c30
$color_3 := #65b445


// 无图标线性渐变背景
// direction 渐变方向
// from-color 起始颜色
// to-color 终止颜色
// bg-color 背景色
linear-gradient-background(
    direction = top,
    from-color,
    to-color,
    bg-color = transparent
)
    // 内部变量
    top = 0% 0%, 0% 100%
    left = 0% 0%, 100% 0%
    bottom = 0% 100%, 0% 0%
    right = 100% 0%, 0% 0%

    background: bg-color

    // Safari 4-5, Chrome 1-9
    background: -webkit-gradient(
        linear,
        direction,
        from(from-color),
        to(to-color)
    )
  
    // Safari 5.1, Chrome 10+
    background: -webkit-linear-gradient(direction, from-color, to-color);


// 带图标线性渐变背景
// direction 渐变方向
// from-color 起始颜色
// to-color 终止颜色
// image-url 背景前的第二背景图
// repeat-type 重叠方式 
// s-x x轴偏移
// s-y y轴偏移 
// b-color 背景色
linear-gradient-with-image(
    direction = top, from-color, to-color,
    image-url = '',
    s-x = 0, s-y = 0,
    bg-color = transparent,
    repeat-type = no-repeat
)
    top = 0% 0%, 0% 100%
    left = 0% 0%, 100% 0%
    bottom = 0% 100%, 0% 0%
    right = 100% 0%, 0% 0%
    url = $base_url + image-url

    background:
        url(url) repeat-type scroll s-x s-y bg-color

    // Safari 4-5, Chrome 1-9
    background: 
        url(url) repeat-type scroll s-x s-y,
        -webkit-gradient(linear, direction, from(from-color), to(to-color))
  
    // Safari 5.1, Chrome 10+
    background:
        url(url) repeat-type scroll s-x s-y,
        -webkit-linear-gradient(direction, from-color, to-color)






html
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

body
    -webkit-text-size-adjust: 100%
    text-size-adjust: 100%;

header
    background: #252525
    color: #fff
    margin-bottom: px_to_rem(10px)
    padding: px_to_rem(8px)
    font-size: px_to_rem(22px)

.container
    padding: px_to_rem(10px)

.wrapper
    relative()
    // display: flex
    // align-items: flex-start
    box-shadow: px_to_rem(2px) px_to_rem(2px) px_to_rem(5px) #DDD
    margin: px_to_rem(10px)
    padding: px_to_rem(5px)
    min-height: px_to_rem(200px)

.loading
    display: box
    box-orient: horizontal
    box-pack: center
    box-align: center

    absolute: left, top
    z-index: 99
    
    size(100%)
    
    background-color: rgba(0, 0, 0, 0.6)
    color: #fff
    font-size: 150%
    font-weight: bold


.ui-button
    margin: px_to_rem(5px)








// 春天系列主题
.ui-button.skin-spring-button,
.ui-button.skin-spring-add-button,
.ui-button.skin-spring-add-right-button,
.ui-button.skin-spring-add-top-button,
.ui-button.skin-spring-add-bottom-button
    border: 1px solid #519D30
    color: white
    font-weight: bold

.ui-button.skin-spring-button:focus,
.ui-button.skin-spring-add-button:focus,
.ui-button.skin-spring-add-right-button:focus,
.ui-button.skin-spring-add-top-button:focus,
.ui-button.skin-spring-add-bottom-button:focus
    border: 1px solid #157106;

.ui-button.skin-spring-button:active,
.ui-button.skin-spring-add-button:active,
.ui-button.skin-spring-add-right-button:active,
.ui-button.skin-spring-add-top-button:active,
.ui-button.skin-spring-add-bottom-button:active
    border: 1px solid #509c2f;



.ui-button.skin-spring-button
    linear-gradient-background: top, $color_1, $color_2, $color_3
    padding: 0 10px;
    height: 30px;
    line-height: 30px;

    &:active
        linear-gradient-background: top, $color_2, $color_1, $color_3


.ui-button.skin-spring-add-button
    padding-left: 27px;
    padding-right: 13px;
    linear-gradient-with-image:
        top, $color_1, $color_2,
        $icon_plus, 9px, center, $color_3

    &:active
        linear-gradient-with-image:
            top, $color_2, $color_1,
            $icon_plus, 9px, center, $color_3


.ui-button.skin-spring-add-right-button
    padding-left: 13px;
    padding-right: 27px;
    linear-gradient-with-image:
        top, $color_1, $color_2,
        $icon_plus, 48px, center, $color_3

    &:active
        border: 1px solid #509c2f;
        linear-gradient-with-image:
            top, $color_2, $color_1,
            $icon_plus, 48px, center, $color_3


.ui-button.skin-spring-add-top-button
    padding-top: 20px;
    linear-gradient-with-image:
        top, $color_1, $color_2,
        $icon_plus, center, 5px, $color_3

    &:active
        border: 1px solid #509c2f;
        linear-gradient-with-image:
            top, $color_2, $color_1,
            $icon_plus, center, 5px, $color_3


.ui-button.skin-spring-add-bottom-button
    padding-bottom: 20px;
    linear-gradient-with-image:
        top, $color_1, $color_2,
        $icon_plus, center, 25px, $color_3

    &:active
        border: 1px solid #509c2f;
        linear-gradient-with-image:
            top, $color_2, $color_1,
            $icon_plus, center, 25px, $color_3
